<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WOMEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BEAUTY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KIDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCESSORIES</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
      <form class="d-flex me-3" role="search" action="#" method="GET">
        <div class="input-group">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <div class="me-3">
        <a href="#"><i class="bi bi-heart fs-4"></i></a>
      </div>
      <div class="me-3">
        <a href="{% url 'cart' %}"><i class="bi bi-bag fs-4"></i></a>
      </div>
      
      <div class="dropdown">
        <a class="dropdown-toggle no-arrow" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-list fs-4"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end"> <!-- Added dropdown-menu-end class -->
          {% if user.is_authenticated %}
          <li><a class="dropdown-item" href="{% url 'user_profile' %}">My Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'orders' %}">My Orders</a></li>
  
          <li>
             <a class="dropdown-item" href="{% url 'logout' %}"> <button class="btn btn-primary w-100">Logout</button></a>
          {% else %}
              <a class="dropdown-item" href="{% url 'login' %}"><button class="btn btn-primary w-100">Login</button></a>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

